RadSideDrawer Label {
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

RadSideDrawer Label.divider {
    background-color: white;
    width: 90%;
    height: 1px;
}

RadSideDrawer Label.button-divider {
    background-color: #004488;
    width: 75%;
    height: 1px;
}

RadSideDrawer Label.button {
    background-color: none;
    color: white;
    font-size: 24;
    text-align: center;
    padding: 10px;
}

RadSideDrawer StackLayout {
    background-color: #0088ff;
}

RadSideDrawer Image.header-image {
    height: 120px;
    width: auto;
    margin: 20px;
}

AbsoluteLayout Image.menu-button {
    width: 48px;
    height: 48px;
}