nativescript-angular*.tgz
bin/dist
node_modules
platforms
tags
src/nativescript-angular/**/*.js
!src/nativescript-angular/postinstall.js
!src/nativescript-angular/hooks/**/*.js
.baseDir.ts
.tscache
.nvm
.vscode
.DS_Store
nativescript-angular*.tgz

tests/app/**/*.js
tests/test-output.txt
tests/platforms
tests/lib
tests/node_modules

app/**/*.js
app/**/*.js.map
app/App_Resources/Android/values/nativescript_google_maps_api.xml

ng-sample/app/**/*.js
ng-sample/app/nativescript-angular
ng-sample/app/global.d.ts
ng-sample/platforms
ng-sample/lib
ng-sample/node_modules